<div class="title-div">
  <h1 mat-dialog-title>Manage categories</h1>
  <button (click)="onNoClick()" color="warn" class="exit-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="flex-div">
  <form [formGroup]="form" class="form-div">
    <mat-spinner *ngIf="loading$ | async" [diameter]="20" class="spinner"></mat-spinner>
    <mat-form-field class="input-text-form">
      <mat-label>{{labelName}}</mat-label>
      <input type="text" matInput formControlName="category" cdkFocusInitial #categoryInput
        [errorStateMatcher]="matcher" placeholder="Your category here" appearance="fill" />
      <mat-error *ngIf="form.get('category')!.hasError('required') && !form.get('category')!.hasError('maxlength')">
        Name is <strong>required</strong>.
      </mat-error>
      <mat-error *ngIf="form.get('category')!.hasError('maxlength')">
        Name must be shorter than <strong>{{maxCharLen}}</strong> characters.
      </mat-error>
    </mat-form-field>
    <button *ngIf="showSubmit; else showUpdate" [disabled]="!form.valid" mat-raised-button color="primary"
      (click)="addCategory()">Submit</button>

    <ng-template #showUpdate>
      <span class="edit-btns">
        <button mat-raised-button color="primary" [disabled]="!form.valid || form.pristine"
          (click)="editCategory(form.value.category)">Update</button>
        <button mat-raised-button color="warn" (click)="dropEdit()">Discard</button>
      </span>
    </ng-template>
  </form>
</div>
<mat-divider></mat-divider>
<div class="scroll-div" *ngIf="(data$ | async) as data">
  <mat-card *ngFor="let category of data.spendingList">
    <p class="ellipsis-text" [matTooltip]="category.name" appShowIfTruncated>{{category.name}}</p>
    <span class="span-icons">
      <button [disabled]="!showSubmit && category.name == oldCategory" mat-icon-button
        (click)="openDialogDelWarn(category.name)">
        <mat-icon [color]="category.name !== oldCategory ? 'warn' : ''">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="changeInputToEdit(category.name)">
        <mat-icon color="primary">edit</mat-icon>
      </button>
    </span>
  </mat-card>
</div>