<div id="title-div">
  <h1 mat-dialog-title>Manage categories</h1>
  <button mat-icon-button (click)="onNoClick()" id="exit"><mat-icon>close</mat-icon></button >
</div>


<form [formGroup]="form">
  <div mat-dialog-content>
    <p>Insert Spending Category</p>
    <mat-form-field>
      <mat-label>New Category</mat-label>
      <input type="text" matInput formControlName="category" />
    </mat-form-field>
    <button mat-button (click)="addCategory()">Submit</button>
  </div>
</form>
<div class="grid-div">
  <mat-card *ngFor="let category of data.categoryList">
    <form>
      <mat-form-field>
        <mat-label>Edit Category</mat-label>
        <input matInput placeholder="Category Name" value={{category.name}} #inptVal>
      </mat-form-field>
    </form>
    <span id="btn-span">
      <button type="button" mat-button (click)="removeCategory(category.name)">Delete</button>
      <button mat-button (click)="editCategory(category.name, inptVal.value)">Edit</button>
    </span>
  </mat-card>
</div>