@import "../../variables.scss";

input {
    height: 3vh;
    text-align: center;
}

.flex-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card {
    height: 1.5vh;
    width: 95%;
    background-color: $category-card-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    p {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        width: 90%;
        text-align-last: left;
        margin: 0;
    }
}

.form-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#title-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#exit {
    user-select: none;
    color: red;
}

#exit:hover {
    cursor: pointer;
    background-color: $exit-btn-background;
    color: white;
}

.mat-divider {
    margin-bottom: 15px;
    width: 100%;
}

.edit-btns {
    width: 10vw;
    margin-left: 10px;
}

.span-icons {
    min-width: 80px;
}
