<div class="content">
    <mat-toolbar color="primary">
        <span>Budgeteer</span>
        <span class="spacer"></span>
        <mat-icon>menu</mat-icon>
    </mat-toolbar>

    <mat-grid-list cols="2" rowHeight="42.5vh" gutterSize="40px" class="grid-container">
        <mat-grid-tile>
            <mat-card class="fill">
                <app-budget></app-budget>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="fill">

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="fill">

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="fill">

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>