mat-card {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.grid-container {
    margin: 30px;
}

#spendingCard {
    overflow-y: auto;
}

.budget-card {
    min-height: 130px;
    padding: 0px;
    overflow: auto;
}


.mat-grid-list {
    height: 100%;
}

.content {
    height: 100%;
}