<div class="content">
    <mat-toolbar color="primary">
        <span>Budgeteer</span>
        <span class="spacer"></span>
        <mat-icon>menu</mat-icon>
    </mat-toolbar>

    <mat-grid-list cols="2" rowHeight="21vh" gutterSize="20px" class="grid-container">
        <mat-grid-tile rowspan="1">
            <mat-card class="budget-card">
                <app-budget [budget]="budget" [spendingList]="spendingList"></app-budget>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <mat-card  class="fill">
                
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="3">
            <mat-card id="spendingCard" class="fill">
                <app-spending-card  [spendingList]="spendingList"></app-spending-card>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <mat-card class="fill">

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>