<div class="content">
    <mat-toolbar color="primary">
        <span>Budgeteer</span>
        <span class="spacer"></span>
        <mat-icon>menu</mat-icon>
    </mat-toolbar>

    <ng-container *ngIf="(data$ | async) as data">
        <mat-grid-list cols={{colsNo}}
                       (window:resize)="onResize($event)" 
                       rowHeight="26vh" 
                       gutterSize="20px" 
                       class="grid-container">
            <mat-grid-tile rowspan="1">
                <mat-card class="budget-card" *ngIf="!data.loading; else loading">
                    <app-budget [budget]="data.budget"
                                [spendingTotals]="data.spendingTotals"
                                (changeBudgetEvent)= "updateBudget($event)"></app-budget>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile rowspan="3">
                <mat-card id="spendingCard" class="fill" *ngIf="!data.loading; else loading">
                    <app-spending-card></app-spending-card>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile rowspan="2">
                <mat-card class="fill" *ngIf="!data.loading; else loading">
                    <app-pie-chart [spendingTotals]="data.spendingTotals | pieInput"
                                   [spendingList]="data.spendingList"></app-pie-chart>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-container>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
