@import 'variables.scss';

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow: auto;
    background-color: #303030;
}

.spacer {
    flex: 1;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.snackbar-error {
    background-color: $warn-color;
}

.snackbar-success {
    background-color: $money-color;
}