@import "variables.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: auto;
    background-color: #303030;
}

.spacer {
    flex: 1;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.snackbar-error {
    background-color: $warn-color;
}

.snackbar-success {
    background-color: $money-color;
}

.card-content {
    height: 100%;
    width: 100%;
    padding: $content-padding;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $manage-btn-color;
}

::-webkit-scrollbar-thumb {
    background-color: $manage-btn-color;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: $manage-btn-color;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.cdk-global-scrollblock {
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}

.unselectable {
    user-select: none;
}
