.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.graph {
    position: absolute;
    width: 100%;
    height: 100%;
}

.down-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 10%;
    margin-bottom: 15px;
}

.btn {
    height: 5vh;
    width: 6vw;
}

.tooltip {
    font-size: 1rem;
    padding: 3px;
}