<div class="card-content">

<mat-accordion>
    <mat-expansion-panel *ngFor="let category of spendingList; let i = index">
        <mat-expansion-panel-header>
            <mat-panel-title class="header-div">
                <p class="ellipsis-text" [matTooltip]="category.name" appShowIfTruncated>{{category.name}}</p>
                <p class="money">{{category.total}}$</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <div *ngFor="let spending of category.expenses">
                <mat-list-item class="header-div" role="listitem">
                    <div class="header-div">
                        <p class="ellipsis-text" [matTooltip]="spending.name" appShowIfTruncated>{{spending.name}}</p>
                        <span>
                            <span class="money">{{spending.value}}$</span>
                            <button mat-icon-button (click)="openDialogDelWarn(spending.name, category.name, spending.id)">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                        </span>
                    </div>
                </mat-list>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
    <div class="bottom-div">
        <button mat-fab color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

</div>