@import "../../variables.scss";

.header-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    p {
        padding: 0px;
        margin: 0px;
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
    }
}

h1 {
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.money {
    align-items: center;
    color: $money-color;
}

.mat-expansion-panel {
    background-color: $category-card-color;
    margin-top: 3px;
}

.mat-button {
    background-color: $manage-btn-color;
}

span {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.mat-icon:hover {
    cursor: pointer;
}

.list-viewport {
    height: 75%;
    max-height: max(calc(75vh - 105px));
    overflow-x: auto;
}

.bottom-div {
    width: 100%;
    margin-top: 5vh;
    margin-right: 15px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-container {
    height: 100%;
    width: 100%;
}